* @kinde-oss/giants-kinde
package.json @kinde-oss/sdk-engineers
**/package.json @kinde-oss/sdk-engineers
package.json @kinde-oss/sdk-engineers
**/package.json @kinde-oss/sdk-engineers
pnpm-lock.yaml @kinde-oss/sdk-engineers
**/pnpm-lock.yaml @kinde-oss/sdk-engineers
